<%- if document.respond_to?(:representative_image_url) && document.representative_image_url.present? %>
  <%= image_tag document.representative_image_url, alt: catalog_thumbnail_alt_text(document), class: "canonical-image"  %>
<%- elsif document.respond_to?(:representative) && document.representative.present? %>
  <%= image_tag download_path(document.representative, {:datastream_id => 'thumbnail'}), alt: catalog_thumbnail_alt_text(document), class: "canonical-image"  %>
<%- elsif document.persisted? -%>
  <%= image_tag download_path(document, {:datastream_id => 'thumbnail'}), alt: catalog_thumbnail_alt_text(document), class: "canonical-image" %>
<%- else -%>
  <span class="canonical-image"></span>
<%- end -%>
