#brand-bar-wrapper {
  background-color:$blueDark;
  background-image: linear-gradient(#0d407b,#07366c 85%,#001834);
  border-bottom:1px solid #001834;

  h2 a, h3 a {
    color:#FFF;
  }

  .division {
    float:right;
  }
}

#title-bar-wrapper {
  background-color:$yellow;
  background-image: linear-gradient(#f5e59e,#dcb439 98%,#9c7012);
  border-top:1px solid #FFF;
  margin-bottom:.3em;
}

#site-title {
  h1 {
    text-shadow: #fff 0 0 1px;
  }

  a,
  a:hover,
  a:visited {
    color:$blue;
  }
}

#main {
  h1,h2,h3,h4,h5,h6 {
    color:$blue;
  }
}

#footer {
  color:$grayLight;

  .footer-text {
    border-top:1px solid $grayLighter;
  }
}


.modal {
  position: fixed;
  top: 10%;
  left: 50%;
  z-index: 1050;
  width: 560px;
  margin-left: -280px;
  background-color: white;
  border: 1px solid #999;
  border: 1px solid rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
  background-clip: padding-box;
  outline: none;
}

.modal.fade.in {
  top: 10%;
}